.heroSection {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: #fff;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
}

.heroContent {
   margin-top: 15%;
   padding: 100px;
   z-index: 1;
}

.heroContent h2 {
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 2%;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heroContent p {
   font-size: 1.2rem;
   margin-bottom: 5%;
}

.btn {
   margin-top: 10%;
   margin-bottom: 30%;
   padding: 25px 40px;
   font-size: 20px;
   border-radius: 50px;
   background: rgb(17, 119, 17);
   color: whitesmoke;
   box-shadow: 0, 0, 10px, 5px rgb(163, 220, 77);
   font-weight: bold;
   border: none;
   transition: .5s;
}


.btn:hover {
   cursor: pointer;
   background: rgb(163, 220, 77);
   color: #222;
   transform: scale(0.95);
}

.bg {
   position: absolute;
   height: 100%;
   width: 100vw;
}

.bg::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.75);
}