.heroSection {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 250px 20px;
   /* border-bottom: 1px solid #ddd; */
   color: white;
}

.heroContent {
   max-width: 550px;
}

.heroContent h2 {
   font-size: 3.5rem;
   font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;

   margin: 0 0 30px;
}

.heroContent p {
   font-size: 1.2rem;
   margin-bottom: 50px;
}

.btn {
   padding: 25px 40px;
   font-size: 20px;
   border-radius: 50px;
   background: rgb(23, 158, 23);
   border: 1px solid transparent;
   color: whitesmoke;
   font-weight: bold;
   transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn:hover {
   cursor: pointer;
   background: transparent;
   border: 1px solid silver;
}

.heroImageContainer {
   max-width: 400px;
   overflow: hidden;
   position: relative;
}

.heroImage {
   z-index: -1;
}

@media (max-width: 768px) {
   .heroSection {
      flex-direction: column;
      padding: 250px 20px;
   }

   .heroContent {
      text-align: center;
      margin-bottom: 50px;
   }

   .heroContent h2 {
      font-size: 2.5rem;
      margin-bottom: 20px;
   }

   .heroContent p {
      font-size: 1rem;
   }

   .heroImageContainer {
      display: none;
   }
}