/* CardTransactionsPage.module.css */

.cardTransactionsPage {
   padding: 50px 0;
}

.cardTransactionsPage h2 {
   font-size: 24px;
   margin-bottom: 20px;
}

.cardTransactionsPage p {
   font-size: 18px;
   margin-bottom: 20px;
}

.cardTransactionsPage ul {
   list-style: none;
   padding: 0;
}

.cardTransactionsPage .transaction {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin-bottom: 20px;
   cursor: pointer;
   transition: transform 0.3s ease;
}

.cardTransactionsPage .transaction:hover {
   transform: translateY(-5px);
}

.cardTransactionsPage .transaction div {
   margin-bottom: 10px;
   font-size: 16px;
}

.cardTransactionsPage .transaction .date {
   color: #666;
}

.cardTransactionsPage .transaction .amount {
   font-weight: bold;
}

/* SelectedTransaction.module.css (припустимо це імпортований компонент) */

.selectedTransaction {
   background-color: rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.selectedTransactionContent {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   padding: 20px;
   max-width: 600px;
   width: 100%;
   position: relative;
}

.selectedTransactionContent h3 {
   font-size: 24px;
   margin-bottom: 20px;
}

.selectedTransactionContent .transactionInfo {
   margin-bottom: 20px;
}

.selectedTransactionContent .closeButton {
   position: absolute;
   top: 10px;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   color: #999;
}

.selectedTransactionContent .closeButton:hover {
   color: #666;
}