.footer {
   background-color: #222;
   color: white;
   padding: 100px 0 30px;
   text-align: center;
   box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.footer a {
   color: white;
}

.footerContent {
   display: flex;
   justify-content: space-around;
   margin-bottom: 100px;
   margin-top: 70px;
}

.email,
.phoneNumber,
.socialIcons {
   display: flex;
   flex-direction: column;
   gap: 40px;
}


.email *:hover,
.phoneNumber *:hover {
   color: rgb(102, 102, 102);
}

.socialIcons * {
   width: 50px;
}

.copyRight {
   margin: 100px auto 50px;
}