.transactionsPage {
   margin: 70px 200px;
}

.transactionsList {
   list-style: none;
   padding: 0;
   margin: 0;
}

.transactionItem {
   background-color: #f5f5f5;
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s, transform 0.3s;
}

.transactionItem:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   transform: translateY(-2px);
}

.transactionLink {
   display: block;
   text-decoration: none;
   color: #333333;
}

.transactionDetails {
   padding: 0;
}

.cardNumber {
   font-size: 18px;
   margin-bottom: 10px;
   color: #000000;
}

.balance {
   font-size: 16px;
   margin: 0;
   color: #666666;
}