.calculator {
   background: whitesmoke;
   padding: 50px;
   border-radius: 30px;
   max-width: 900px;
   margin: 0 auto;
}

.calc_conainer {
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 20px 50px;
}

.input_group {
   padding-right: 20px;
   width: 45%;
}


.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 100%;
   margin: 0;
}

.header {
   font-size: 40px;
   font-weight: bold;
   margin-bottom: 30px;
}

.input_label {
   position: relative;
}

.input_amount_span,
.input_currency_span,
.due_date,
.select_input_currency_span {
   position: absolute;
   color: rgba(0, 0, 0, 0.6);
   font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outfer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

.number_input,
.select_input,
.input_range_box {

   border: 1px solid rgb(0, 0, 0);
   height: 64px;
   border-radius: 10px;
   padding: 30px 20px 10px;
   font-size: 18px;
   width: 100%;
   margin: 20px 0;
}


.number_input:focus,
.select_input:focus {
   outline: none;
   border: 1px solid green;
}

.input_amount_span,
.select_input_currency_span {
   top: -25px;
   left: 20px;
}

.input_currency_span {
   right: 20px;
   top: -7px;
}

.error {
   color: red;
   font-size: 14px;
   margin-top: 5px;
   position: absolute;
   bottom: -50px;
}

.checkbox_custom {
   margin-left: 5px;
}

.input_range_box {
   position: relative;
   background: white;
}

.input_range_box::before {
   position: absolute;
   content: attr(data-min) ' mon.';
   font-size: 12px;
   bottom: -20px;
   left: 0;
}

.input_range_box::after {
   position: absolute;
   content: attr(data-max)' mon.';
   font-size: 12px;
   bottom: -20px;
   right: 0;
}

.due_date,
.range_value,
.range_input {
   position: absolute;
}

.due_date {
   top: 5px;
}

.range_input {
   left: 0;
   bottom: -5px;
   width: 100%;
   height: 0;
   -webkit-appearance: none;
   appearance: none;
   background: white;
   outline: none;
}

.range_input::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   width: 15px;
   height: 15px;
   background: rgb(255, 255, 255);
   border: 3.5px solid red;
   border-radius: 50%;
   cursor: pointer;
   margin-top: -10px;
}






.result_container {
   padding-left: 20px;
}

.total h3 {
   font-size: 24px;
}

.total h1 {
   font-size: 35px;
}

.total label {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.checkbox_custom {
   margin-left: 10px;
   width: 20px;
   height: 20px;
   position: relative;
   appearance: none;
   cursor: pointer;
   outline: none;
   border-radius: 5px;
   border: 2px solid #333;
   background-color: #fff;
   transition: background-color 0.3s, border-color 0.3s;
   flex-shrink: 0;
}

.checkbox_custom:checked {
   background-color: #333;
}

.checkbox_custom::after {
   content: '\2714';
   font-size: 18px;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   opacity: 0;
   transition: opacity 0.3s;
}

.checkbox_custom:checked::after {
   opacity: 1;
}

.hr {
   margin-bottom: 20px;
}

.data_item {
   margin-bottom: 10px;
}

.total label,
.data_item p {
   color: rgba(0, 0, 0, 0.6);
}