.exchangeRatesSection {
   padding: 20px;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.exchangeRates {
   display: flex;
   flex-wrap: wrap;
}

.sideBar {
   flex: 1;
   padding-right: 20px;
}

.daysSelect {
   margin-bottom: 10px;
   padding: 5px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

.view {
   list-style-type: none;
   padding: 0;
   margin-bottom: 10px;
}

.view__item {
   display: inline-block;
   margin-right: 10px;
}

.view__item button {
   width: 60px;
   padding: 10px 0;
   border-radius: 10px;
   background: white;
   border: 1px solid silver;
   cursor: pointer;
   font-size: 14px;
   font-weight: bold;
}

.view__item.active button {
   transform: scale(0.9);
   background: green;
   color: white;
}

.view__item button:hover {
   background: green;
   color: white;
}

.exchange {
   list-style-type: none;
   padding: 0;
}

.exchangeRateItem {
   cursor: pointer;
   margin-bottom: 10px;
}

.exchangeRateItem:hover {
   background-color: #f0f0f0;
}

.currencyPair {
   margin: 0;
}

.exchangeRateValue {
   margin: 5px 0;
}

.content {
   flex: 3;
}

.table {
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px;
   background-color: #fff;
}

.table table {
   width: 100%;
}

.table table th,
.table table td {
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ccc;
}

.table table th {
   background-color: #f0f0f0;
}

.table table tbody tr:nth-child(even) {
   background-color: #f9f9f9;
}

.table table tbody tr:hover {
   background-color: #f0f0f0;
}