.transactionsList {
   list-style: none;
   padding: 0 20px;
}

.transactionItem {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
   transition: transform 0.3s ease;
}

.transactionItem:hover {
   transform: translateY(-5px);
}

.transactionLink {
   display: block;
   text-decoration: none;
   color: inherit;
}

.cardInfo {
   display: flex;
   align-items: center;
   padding: 20px;
}

.cardIcon {
   width: 50px;
   margin-right: 20px;
}

.transactionDetails {
   flex: 1;
}

.cardNumber {
   font-size: 18px;
   margin-bottom: 10px;
}

.balance {
   font-size: 16px;
   color: #666;
}

.img {
   width: 70px;
}