.createUserPage {
   width: 100vw;
   height: 100vh;
   background: rgb(0, 26, 102);
   background: linear-gradient(135deg, rgba(0, 26, 102, 1) 0%, rgba(80, 94, 157, 1) 100%);

   display: flex;
   justify-content: center;
   align-items: center;
}

.hr {
   width: 100%;
}