.loginPage {
   background: rgb(64, 86, 210);
   background: linear-gradient(135deg, rgba(64, 86, 210, 1) 0%, rgb(185, 76, 161) 100%);

   width: 100vw;
   height: 100vh;

   display: flex;
   justify-content: center;
   align-items: center;
}