.cardData {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 50px 20px 20px;
   border: 1px solid #333;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
   background-color: #232323;
   color: #fff;
   transition: background-color 0.3s, color 0.3s;
}

.leftPart,
.rightPart {
   flex: 1;
   padding: 0 10px;
}

.rightPart {
   display: flex;
   justify-content: center;
}

.data {
   display: flex;
   flex-wrap: wrap;
   margin-top: 20px;
   gap: 20px;
}

.data__item {
   flex: 1 1 calc(50% - 20px);
   padding: 10px;
   box-sizing: border-box;
   transition: background-color 0.3s, color 0.3s;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 8px;
}

.h1 {
   font-size: 1.5rem;
   margin-bottom: 20px;
}

.h3 {
   font-size: 1rem;
   margin: 0;
}

.data__item:hover {
   background-color: #404040;
}

.input {
   font-size: 1em;
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   background-color: #fff;
   color: #333;
   transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.input:focus {
   outline: none;
   border-color: #007bff;
   box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.btns {
   display: flex;
}

.btn {
   margin-left: 10px;
}