.bg1 {
   background-color: #f9f9f9;
   padding: 100px 0;
}

.bg2 {
   padding: 100px 0;
   background: rgb(0, 26, 102);
   background: linear-gradient(172deg, rgba(0, 26, 102, 1) 0%, rgba(80, 94, 157, 1) 100%);
}

.bg3 {
   overflow: hidden;
}

.bg {
   /* background: rgb(103, 5, 155);
   background: linear-gradient(150deg, rgba(103, 5, 155, 1) 10%, rgba(0, 25, 131, 1) 100%); */
   background-image: url('../../../public/imgs/home/home-mbg.jpg');
   background-size: cover;
   background-position: center;
}