.bg1 {
   background-color: #f9f9f9;
}

.bg2 {
   padding: 100px;
   background: rgb(0, 26, 102);
   background: linear-gradient(172deg, rgba(0, 26, 102, 1) 0%, rgba(80, 94, 157, 1) 100%);
}

.bg {
   background: rgb(97, 67, 133);
   background: linear-gradient(120deg, rgba(97, 67, 133, 1) 0%, rgba(81, 99, 149, 1) 100%);
}